.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.titleGroupsList {
  display: flex;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: block;
}

/* .group-item {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
  } */

/* .group-item img {
    display: flex;
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  } */

.button {
  background-color: #008fa3;
  color: #d9eef1;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;

  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.errors {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.groupContainer {
  display: flex;
  padding: 4px;
}

.groupImage {
  margin-top: 20px;
  float: left;
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
}

.groupImageDiv {
  float: left;
  width: 30%;
  height: 20%;
}

.groupInfo {
  float: left;
  width: 70%;
  text-align: left;
  padding-left: 20px;
}

.groupsListp {
  text-align: left;
}

.locationLabel {
  padding: 2px;
}

.groupDetailsImage {
  width: 200px;
}

.titleLink {
  float: left;
  padding-left: 10px;
}

.groupsDetailsGroupsLink {
  text-decoration: none;
  pointer-events: none;
}

.group-item:hover {
  cursor: pointer;
}

.event-item:hover {
  cursor: pointer;
}

