.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.titleGroupsList {
  display: flex;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

.link {
  /* text-decoration: none; */
  display: block;
}

/* .group-item {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
  } */

/* .group-item img {
    display: flex;
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  } */

.button {
  background-color: #008fa3;
  color: #d9eef1;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;

  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.errors {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.groupContainer {
  display: flex;
  padding: 4px;
}

.groupImage {
  margin-top: 20px;
  float: left;
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
}

.groupImageDiv {
  float: left;
  width: 30%;
  height: 20%;
}

.groupInfo {
  float: left;
  width: 70%;
  text-align: left;
  padding-left: 20px;
  height: 170px;
  padding-top: 35px;
}

.groupsListp {
  text-align: left;
}

.locationLabel {
  padding: 2px;
}

.groupDetailsImage {
  width: 400px;
  height: 255px;
  border-radius: 5px;
}

.group-details-image-div {
  padding-right: 15px;
}

.titleLink {
  float: left;
  padding-left: 10px;
  text-decoration: none;
}

.groupsDetailsGroupsLink {
  text-decoration: none;
  pointer-events: none;
}

.group-item:hover {
  cursor: pointer;
}

.event-item:hover {
  cursor: pointer;
}

.group-details {
  display: flex;
}
.group-details2 {
  display: flex;
  background-color: #f0f0f0;
}

.detail-div {
  padding-top: 4px;
}

.details-buttons {
  display: flex;
  height: 40px;
  align-self: flex-end;
}

.details-bottom-half {
  background-color: #f0f0f0;
  height: 640px;
}

.event-bottom-div {
  background-color: white;
  width: 390px;
  height: 265px;
  border-radius: 20px;
  margin-left: 10px;
}

.details-button {
  background-color: #008fa3;
  color: #d9eef1;
  text-align: center;
  cursor: pointer;
  width: 75px;
  height: 35px;
  text-decoration: none;

  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  display: flex;
  align-self: flex-end;
  list-style-type: none;
}

.links-details {
  font-size: 11px;
  text-decoration: none;
  width: 70px;
  height: 20px;
  color: #d9eef1;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.group-details-information {
  height: 200px;
  width: 300px;
}

.groupsListMiniTitle {
  margin-right: 630px;
}

.mainbody-div {
  background-color: #f0f0f0;
  height: 800px;
}

li {
  list-style-type: none;
}

.createGroupLists {
  list-style-type: disc;
}
/*
.event-item.group {
  display: contents;
} */