.container1 {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.container1 img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

/* .body {
    max-width: 1024px;
} */

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.info {
    width: 50%;
}

.subtitle {
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: center;
}
.subtitle1 {
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: center;
    text-align: left;
}

.container2 {
    background-color: #FFFFFF;
    padding: 20px;
    width: 400px;
    margin-left: 270px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.link-findevent {
    text-decoration: none;
    color: #00798A;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
}

.link-findevent:hover {
    text-decoration: underline;
}

.link-seeAllGroups {
    text-decoration: none;
    color: #00798A;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
}

.link-seeAllGroups:hover {
    text-decoration: underline;
}

.link-startGroup {
    text-decoration: none;
    color: #00798A;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
}

.link-startGroup:hover {
    text-decoration: underline;
}

.joinButton {
    background-color: #008FA3;
    color: #D9EEF1;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;

    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
}

.image1 {
    height: auto;
    width: 50%;
}

.image2 {
    width: 80%;
    height: 115px;
}

.navbox {
    width: 20%;
    padding: 15px;
    height: 220px;
}

.subtitle2 {
    text-align: center;
}