.event-item {
  margin: 20px;
  padding: 20px;
  text-align: left;
  display: contents;
}

.event-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.eventslinkUnder {
  text-decoration: none;
}

.groupImageEvent {
  height: 75px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.eventImageAndLocation {
  display: flex;
}

.groupInformationEvent {
  margin-top: 10px;
}

.eventDetailsButtons {
  display: flex;
}

.time {
  display: flex;
}

.clock {
  padding-top: 17px;
  margin-right: 8px;
}